@model FilterData

<link rel="stylesheet" href="~/css/Filter.css" />


<div name="filterpanel" characteric-count="@Model.Characteristics.Count">
    <div>
        <label class="control-label">Название:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label class="control-label">Код:</label>
        <input asp-for="Code" class="form-control" />
    </div>
    <div>
        <label class="control-label">Цена от:</label>
        <input asp-for="MinPrice" class="form-control" />
    </div>
    <div>
        <label class="control-label">Цена до:</label>
        <input asp-for="MaxPrice" class="form-control" />
    </div>
    <br />

    <div class="panel panel-danger" name=@("kindpanel") kind-count="@Model.Kinds.Count">
        <div class="panel-heading">
            <h3 class="panel-title">Виды:</h3>
            <span class="pull-right clickable panel-collapsed">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </div>
        <div class="panel-body" style="display: none">
            @for (int i = 0; i < Model.Kinds.Count; i++)
            {
                var kind = Model.Kinds[i];

                var name = "Kinds[" + i.ToString() + "]";
                <input name=@(name) id=@kind.Id value="@kind.Id" type="checkbox">
                <label class="control-label">@kind.Name</label>
                <br />

            }
        </div>
    </div>


    @for (int i = 0; i < Model.Characteristics.Count; i++)
    {
        var characteristic = Model.Characteristics[i];
        <div class="panel panel-danger panel-collapse"
             name=@("characteristicpanel"+i.ToString())
             char-id=@(characteristic.Id)
             variant-count="@characteristic.Variants.Count">
            <div class="panel-heading">
                <h3 class="panel-title">@(characteristic.Name):</h3>
                <span class="pull-right clickable panel-collapsed">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </span>
            </div>
            <div class="panel-body" style="display: none">
                @for (int j = 0; j < characteristic.Variants.Count; j++)
                {
                    var variant = characteristic.Variants[j];
                    var name = "Characteristics[" + i.ToString() + "].Variants[" + j.ToString() + "]";
                    <input name=@(name)
                           id=@('C' + variant.Id)
                           value="@variant.Id"
                           type="checkbox">
                    <label class="control-label">@variant.Name</label>
                    <br />

                }
            </div>
        </div>

    }
    <div class="form-group">
        <div class="col-sm-offset-3">
            <button type="submit" class="btn btn-default" value="Save" onclick="FilterController()">
                Принять?
            </button>
        </div>
    </div>
</div>

