@model List<FatProduct>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Название</th>
            <th class="text-center">Вид</th>
            <th class="text-center">Остаток</th>
            <th class="text-center">Цена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr id="@obj.Product.Id">
                <td class="text-center">@obj.Product.Name</td>
                <td class="text-center">@obj.Product.Kind.Name</td>
                <td class="text-center">@obj.Residue</td>
                <td class="text-center">@obj.Price</td>
                <td class="text-right">
                    <button class="btn btn-danger btn-sm" id="@obj.Product.Id"
                            onclick="DeleteFromBag(this, '@obj.Product.Id')">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Убрать из корзины
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

